# ----------------------
# FRONTEND (Angular)
# ----------------------
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.vscode/
frontend/.env
frontend/.DS_Store
frontend/Thumbs.db

# ----------------------
# BACKEND (Spring Boot)
# ----------------------
backend/target/
backend/.vscode/
backend/.env
backend/*.log

# Maven Wrapper files (mantenha o JAR necessário)
backend/.mvn/
!backend/.mvn/wrapper/maven-wrapper.jar

# IntelliJ / Eclipse / VSCode configs
backend/.idea/
backend/*.iml

# ----------------------
# GERAL (segurança e sistema)
# ----------------------
*.log
.DS_Store
Thumbs.db
.env